@import url('fonts/stylesheet.css');
@import url('reset.css');

html {
/*  background: url('../images/erased-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body {
  font-family: 'abc_favorit_monoregular', Fallback, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}

p {
  font-size: 12px;
}

#background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  margin: 5vw;
  align-items: flex-end;
  height: 75vh;
}

.contact a {
  text-decoration: none;
  color: white;
}

.contact a:hover {
  text-decoration: none;
  color: white;
}

.name {
  font-size: 60px;
}

.container-right {
  display: flex;
}

.container, .container-right, .infos, .space, .contact, .name{
  flex: 1;
}

@media (max-width: 1120px) {
  /* For a screen < 960px, this CSS will be read */
  .space {
    flex: 0.9;
  }
}

@media (max-width: 1068px) {
  /* For a screen < 960px, this CSS will be read */
  .space {
    flex: 0.8;
  }
}

@media (max-width: 1033px) {
  /* For a screen < 960px, this CSS will be read */
  .space {
    flex: 0.6;
  }
}

@media (min-width: 890px) and (max-width: 1032px) {
  /* For a screen < 960px, this CSS will be read */
  .space {
    flex: 0.4;
  }
}

@media (min-width: 851px) and (max-width: 890px) {
  /* For a screen < 960px, this CSS will be read */
  .space {
    flex: 0.4;
  }
}

@media (max-width: 851px) {
  /* For a screen < 960px, this CSS will be read */

  .name {
    position: absolute;
    top: 70vh;
  }

  .infos {
    position: absolute;
    top: 5vw;
  }

  .contact {
    position: absolute;
    bottom: 5vw;
  }
}

@media (max-width: 851px) {
  .name {
    font-size: 50px;
  }
}
