@import url('fonts/stylesheet.css');
@import url('reset.css');

html {
/*  background: url('../images/erased-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body {
  font-family: 'abc_favorit_monoregular', Fallback, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}

p {
  font-size: 1.4vw;
}

h1 {
  font-family: 'abc_favorit_monobold', Fallback, sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0px;
  word-spacing: -4.6vw;
  font-size: 6.71vw;
  white-space:nowrap;
}

span {
  white-space:nowrap;
}

#background {
  background: url('../images/erased-1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 94.75vw;
  height: 94.75vh;
  margin: 2.62vw;
  grid-template-areas:
      ".  .  .  .  .  ."
      ".  .  .  .  .  ."
      ".  .  .  .  .  ."
      ".  .  .  .  .  ."
      "n  n  .  inf  . co"
      ".  .  .  .  .  .";
}


.name-container {
  grid-area: n;
  position: relative;
}

.infos-container {
  grid-area: inf;
  position: relative;
}

.contact-container {
  grid-area: co;
  position: relative;
}

.name {
  position: absolute;
  bottom: -9px;
}

.infos {
  position: absolute;
  bottom: 0px;
}

.contact {
  position: absolute;
  bottom: 0px;
  left: -7.88vw;
}


.contact a {
  text-decoration: none;
  color: white;
}

.contact a:hover {
  text-decoration: none;
  color: white;
}



@media (max-width: 770px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    height: 95.65vh;
    grid-template-areas:
        "inf inf inf .  .  ."
        ".  .  .  .  .  ."
        ".  .  .  .  .  ."
        ".  .  .  .  .  ."
        "n  n  n  .  .  ."
        "co co co .  .  .";
  }

  h1 {
    word-spacing: -7vw;
    margin-bottom: -0.5vw;
    font-size: 9.71vw;
  }

  p {
    font-size: 3.1vw;
  }

  .infos {
    top: 0px;
  }

  .contact {
    left: 0.32vw;
  }
}

@media (max-width: 520px) {
  .container {
    height: 97.15vh;
  }
}
