

@font-face {
    font-family: 'abc_favorit_monoregular';
    src: local('ABC Favorit Mono Regular')
         local('ABCFavoritMono-Regular')
         url('abcfavoritmono-regular-webfont.woff2') format('woff2'),
         url('abcfavoritmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'abc_favorit_monobold';
    src: local('ABC Favorit Mono Bold')
         local('ABCFavoritMono-Bold')
         url('abcfavoritmono-bold-webfont.woff2') format('woff2'),
         url('abcfavoritmono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
