

@font-face {
    font-family: 'abc_favorit_monoregular';
    src: url('abcfavoritmono-regular-webfont.woff') format('woff'),
         url('abcfavoritmono-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'abc_favorit_monobold';
    src: url('abcfavoritmono-bold-webfont.woff') format('woff'),
         url('abcfavoritmono-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

